*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: rgb(116, 113, 113);
    color: white;
    background-size: cover;
    height: 100vh;
    padding: 110px;
}

.dashboard .container{
    background-image: url(https://i.pinimg.com/736x/28/05/fa/2805fa16b260d139cadaf85655bd5d93.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    border-radius: 30px;
    margin: auto;
    
}

.dashboard .title{
    display: flex;
    margin-bottom: 50px;
}

.dashboard .image{
    align-items: start ;
}

.dashboard .image img{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: flex-start;
    margin-left: -200px;
    border-radius: 50%;
    border: 10px solid black;
}

.dashboard .info{
    display: flex;
}

.dashboard .content{
   
    display: flex;
     padding-left: 100px;
    align-items: flex-start;
    flex-direction: column;
    color: aliceblue;
    font-size: 20px;
}

.dashboard .content .button{
    background-color: rgba(0, 0, 0, 0.589);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(138, 138, 138) ;
}

.dashboard .content button{
    background-color: rgb(226, 158, 158);
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
}