*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loginPage .container {
    max-width: 100%;
    background-color: rgb(208, 224, 224);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginPage .box{
    background-image: url(https://i.pinimg.com/1200x/3a/2d/d2/3a2dd2b47e49972076bba069840e52c9.jpg);
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    display: flex;
    
    align-items: center;
    background-color: white;
    margin: 450px !important;
     width: 75%;
   border-radius: 30px;
}

.loginPage .first{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 100px;
}

.loginPage .first p{
    margin-bottom: 30px ;
    margin-top: 10px;
}
.loginPage .first span{
    display: inline;
    align-items: start;
    

}

.loginPage .title{
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start !important; 
   color: rgb(19, 19, 87);
}

.loginPage form input{
    border: 2px solid rgba(0, 0, 0, 0.247);
    margin-bottom: 10px;
    width: 350px;
    border-radius: 10px;
    padding-left: 15px;
    height: 50px;
    background-color: rgba(17, 12, 59, 0.281);
    
}

.loginPage form input::placeholder{
    color: rgb(19, 19, 87);
}

.loginPage .button{
    width: 100px !important;
    padding: 7px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgba(35, 55, 119, 0.473);
    color: white;
    font-weight: bold;

}

.loginPage .bottom{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;

}

.loginPage td{
    border: 0 !important;
}